<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
<category label="Network">
<setting id="Sickbeard IP" type="text" label="Sickbeard IP" default="" />
<setting id="Sickbeard Port" type="text" label="Sickbeard Port" default="" />
</category>
<category label="Login">
<setting id="Sickbeard Username" type="text" label="Sickbeard Username" default="" />
<setting id="Sickbeard Password" type="text" label="Sickbeard Password" default="" />
</category>
</settings>